@tailwind base;
@tailwind components;
@tailwind utilities;

.filter-inputs {
  @apply flex flex-col space-y-3;
}

header {
  background: #e5e5e5 !important;

  div {
    color: #00bb80;
  }
  span {
    color: #444444;
  }
}